.giratorio {
	width: 80px;
	height: 80px;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: backwards; /* Para que el texto está en el estado inicial durante dos segundos antes de empezar */
	animation-timing-function: linear;
	animation-name: MiAnimacion;
	/*No hace falta forwards porque se posiciona por defecto a la izquierda
	y luego con la animación lo llevamos de derecha a izquierda (y el CSS por defecto sitúa el texto a la izquierda) */	
}

@keyframes MiAnimacion {
	from {
		margin-left: 90%;
		transform: rotate(0deg);
	}
	
	/* Estos estados no son necesarios porque al pasar de 0 a 360 grados pasa por 90, 180 y 270 */
	
	/*25% {
		transform: rotate(90deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(270deg);
	}*/
	
	to {
		margin-left:0%;
		transform: rotate(360deg);
	}
}
