body {
  font-size: 14px;
}
p:first-of-type {
  text-align: right;
}
div.estandar {
  width: 4.25em;
  height: 4.25em;
  padding: 3px;
}
div#posicionamiento1 {
  /* Añadir propiedades de posicionamiento */
  width: 100%;
  height: 1px;
  border-top: 1px dashed #cccccc;
}
div#posicionamiento2 {
  /* Añadir propiedades de posicionamiento */
  width: 1px;
  height: 100%;
  border-left: 1px dashed #cccccc;
}
div#posicionamiento3 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid blue;
}
div#posicionamiento4 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid green;
}
div#posicionamiento5 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid red;
}
div#posicionamiento6 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid orange;
}
div#posicionamiento7 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid pink;
}
div#posicionamiento8 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid lime;
}
div#posicionamiento9 {
  /* Añadir propiedades de posicionamiento */
  border: 2px solid cyan;
}
div#posicionamiento10 {
  /* Añadir propiedades de posicionamiento */
  width: 28em;
  height: 28em;
  border: 2px solid cyan;
  padding: 3px;
}
