* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0eeca2;
}

.nav > .nav-header {
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  width: 20%;
  background-image: url(img/Cloud-blue.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: right;
}
.nav > .nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  width: 80%;
  text-transform: uppercase;
}

.nav > .nav-links > a {
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  flex-grow: 1;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 220px;
  width: 100%;
  background-color: #0eeca2;
  position: relative;
}
.footer > .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  font-size: 18px;
  margin: 1em;
}

#left {
  clear: both;
  float: left;
}

.footer > .footer-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: underline;
  color: #efefef;
}

.footer > .footer-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-logo {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(img/Cloud-blue.png);
  background-position: right;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  font-size: 22px;
  color: #fff;
}

/*Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em;
}
.element {
  display: flex;
  flex-direction: row;
}
.titulo {
  width: 50%;
  color: rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  font-family: serif;
}
.element > .text {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #0eeca2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
#reverse {
  flex-direction: row-reverse;
}
.imagen {
  width: 50%;
  padding-left: 120px;
  align-self: center;
}
img {
  width: 300px;
}
.cloud {
  width: 50px;
  height: 50px;
  margin-top: 40px;
}
/*Buttons */
.button {
  display: inline-block;
  width: 25%;
  padding: 0.46em 1.6em;
  border-left: 5px solid black;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  background-color: white;
}
.button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
@media only screen and (max-width: 600px) {
  img {
    width: 150px;
  }
  .imagen {
    padding-left: 50px;
  }
}

@media only screen and (min-width: 768px) {
  img {
    width: 200px;
  }
  .imagen {
    padding-left: 50px;
  }
}
