.container {
  border: 1px solid black;
  box-sizing: content-box;
  overflow: auto;
  width: 580px;
  position: static;
}

.caja {
  box-sizing: border-box;
  width: 31%;
  height: 100px;
  border: solid black 1px;
  position: relative;
  margin: 6px;
  float: left;
}

.blanca {
  background-color: white;
}

.verde {
  background-color: green;
}

.blue {
  background-color: blue;
}

#caja2 {
  visibility: hidden;
}
#caja4,
#caja6,
#caja8 {
  display: none;
}
#caja7{
    float: right;
}
#caja9{
    float: left;
    clear: both;
}