.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-column-gap: 2rem; /* gaps de columna */
  grid-row-gap: 33px; /* gaps de fila */
  border: 1px solid black;
}

#areaA {
  grid-column: 1;
  background-color: lime;
  /* margin-right: 1em;
  margin-bottom: 1em; */
}

#areaB {
  grid-column: 2;
  background-color: yellow;
  /* margin-right: 1em;
  margin-bottom: 1em; */
}

#areaC {
  grid-column: 3;
  background-color: blue;
  /* margin-bottom: 1em; */
}

.caja {
  border: 1px solid black;
}
