div.caja {
    width:200px;
    height: 200px;
    padding: 10px;
    
    border: 1px solid gray;
    margin: 0;
    display: inline-block;
  }

.container{
    width: 674px;
    margin: 1em;
    border: 1px solid black;
} 
