/* IMPORTANTE para evitar descuadres */
* {
	box-sizing: border-box;
}

/* Definimos un contenedor auxiliar para especificar el tamaño de la página y alineación */
.centrado{
	width: 80%;
	margin: 0 auto;
}

/* En este caso se opta por la altura en em para que se adapte al tamaño de fuente de los elementos de la clase menú*/
.topdown{
	height: 6em;
	border-radius: 1em;
	border: 1px solid black;
}

/* Estilos de cada ítem de menú */
.menu div.menu-item{
	text-align: center;
	padding: 0.25em;
	background-color: blue;
	color: lightgrey;
}

/* Display flex para alinear el menú en la cabecera */
#cabecera{
	background-color: lightblue;
	position: relative;
}
.menu{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	top: 50%;
	transform: translate(0, -50%);
}

/* Importante definir la altura en el contenedor principal con alguna unidad que no sea porcentaje. Así se calculan bien las de los elementos internos */
.main_container{		
	border: 1px solid black;
	padding: 0.5rem;
	height: 65vh;
	box-shadow: 2px 2px 5px blue;
	margin-top: 0.5rem;		
	display: flex;
	flex-direction: row-reverse;
}

/* Clase con borde rojo para las cajas */
.caja{
	border: 1px dotted red;
}

#izquierda{
	width: 100%;
	padding: 0.5rem;
	gap: 0.5rem;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}
#derecha{
	border: 1px solid black;
	width: 35%;
}

/* Altura de las cajas con contenido */
#caja_pequeña {
	height: 30%;
	width: 100%;	
}

#caja_grande{
	height: 70%;
	width: 100%;
	display: flex;
	
}
.contenido.caja{
	flex-grow: 1;
}

/* Estilos del pie de página */
#pie{
	margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {
	.main_container{
		flex-direction: row;   /*Banner a la derecha*/
	}
	.contenido.caja{
		width: 100%;
	}
	.contenido.caja.desaparece{
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.menu{
		position: relative;
		top: auto;
		flex-direction: column;
		justify-content: flex-start;
	}
}
@media screen and (max-width: 544px) {
	.desaparece{
		display: none;
	}
	.centrado{
		width: 100%;
	}
}