body {margin:3em 10%; background:#333;}
		
.ball:hover {				
	animation-name: ballmove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;				
	animation-fill-mode: both;
	animation-direction: alternate;	
}
			
@keyframes ballmove {
	0% {transform: translateX(0) rotate(0);}				
	100% {transform: translateX(450px) rotate(2turn);}
}
